*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 139px;
}

nav{
    max-width: 1920px;
    width: 100;
    display: flex;
    justify-content: space-around;
    margin: 16px 120px;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 35px;
    
}

nav a{
    text-decoration: none;
    color: #000000
}

* {
  font-family: "Inter", sans-serif;
}

#banner{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 auto;
    background:linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0)), url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;

}

.banner-content{
    text-align: center;
    max-width: 1600;
    margin: 0 auto;
}

.banner-content h1{
    color:#FFFFFF;
    font-size:72px;
    font-weight: bold;
    margin-top: 16px;
}

.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;   
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-1{
    color: rgba(70, 145, 101, 1);
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
}

.btn-2{
    margin-top: 32px;
}

.banner-content .btn{
    margin-top: 32px;
}

.button{
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.btn:hover{
    box-shadow: 0 5px 16px rgba(53, 77, 104, 0.25);
    background-color: #043b1b;
    transform: translateY(-2px);
}

.button:hover{
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.85),rgba(0,0,0,0.1));
}
.btn-1:hover{
    background: linear-gradient(to bottom left, rgba(44, 43, 43, 0.75),rgb(14, 0, 0));
}

.btn:active{
    transform: scale(.96);
}



