*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 139px;
}

nav{
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
    margin: 16px 120px;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 35px;
    
}

nav a{
    text-decoration: none;
    color: #000000
}

* {
  font-family: "Inter", sans-serif;
}

#banner{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 auto;
    background:linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0)), url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;

}

.banner-content{
    text-align: center;
    max-width: 1900px;
    margin: 0 auto;
}

.banner-content h1{
    color:#FFFFFF;
    font-size:72px;
    font-weight: bold;
    margin-top: 16px;
}

.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 16px; 
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-1{
    color: rgba(70, 145, 101, 1);
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
}

.btn-2{
    margin-top: 32px;
}

.banner-content .btn{
    margin-top: 32px;
}

.button{
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.btn:hover{
    box-shadow: 0 5px 16px rgba(53, 77, 104, 0.25);
    background-color: #043b1b;
    transform: translateY(-2px);
}

.button:hover{
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.85),rgba(0,0,0,0.1));
}
.btn-1:hover{
    background: linear-gradient(to bottom left, rgba(44, 43, 43, 0.75),rgb(14, 0, 0));
}

.btn:active{
    transform: scale(.96);
}

#note{
    display: flex;
    flex-direction: column;
    gap: 44px;
    justify-content: space-between;
    margin: 0 auto;  
    max-width: 1900px;
    background-color: #f7f7f7;
    height: 450px;
}

.note-content{
    text-align: center;
    margin: 0 auto;
    height: 152px;
    padding: 40px;
}



#note img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px 13px;
    max-width:60px;
}

.note-content h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-bottom: 16px
}

.note-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;

}

.note-cards{
    display: flex;
    align-items:center;
    gap: 24px;
    max-width: 1920px;
    margin: 0 auto;
}

.card-content{
    border: 20% solid black;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 8px 0PX rgba(0, 0, 0, 0.06) ;
    width: 320px;
    height: 300px;
    background-color: #FFFFFF;
}

.card-content:hover{
    background-color:aliceblue;
}

.card-content h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-top: 16px;
}

.card-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;
    color: #627382;
    /* padding-bottom: 22px; */
}



